@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h2 class="display-5">Welcome</h2>
    <h3 class="display-6">Continue to PhoneBook application</h3>
    <a asp-controller="PhoneBook" asp-action="Index" class="btn btn-primary">Phonebook</a>
</div>
